/* General Tags
 */
body {
  background: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: auto;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: grey;
  text-decoration: none;
}

#img {
  border: 2px solid black;
  border-radius: 490px;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.largeText {
  font-family: "Libre Franklin", sans-serif;
  text-transform: uppercase;
}

/* Header */

h1 {
  font-size: 5em;
  text-align: center;
  font-weight: bold;
  margin-bottom: 5em;
  margin-top: 5em;
}

h2 {
  font-size: 3em;
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
  margin-bottom: 2em;
}

/* Nav */

.navbar {
  font-family: "Libre Franklin", sans-serif;
  color: black;
  font-weight: bold;
}

.navbar a:visited {
  text-decoration: underline;
}

.nav-item {
  float: right;
}

#top {
  text-transform: lowercase;
}

/* About */
#about {
  margin-top: 27em;
  padding-bottom: 10em;
}

/* Contact */
#contact {
  position: relative;
  margin: 2em 0 2em 0;
  font-family: "Libre Franklin", sans-serif;
  text-align: center;
}

.contactCard {
  border: 1px solid black;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
  margin: 0 0 4em 0;
  position: relative;
  display: inline-block;
  text-align: center;
}

.card:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.22);
  background: rgb(90, 0, 35);
  color: white;
}

button {
  color: black;
  background-color: white;
  border: 1px solid black;
  margin-top: 1em;
}

button:hover {
  color: white;
  background-color: black;
}

/* Projects */

.btn:hover,
.btn-primary:hover {
  border: 1px solid black;
}

/* Footer */
#clear {
  clear: both;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  display: inline-block;
  background-color: black;
  color: white;
  padding: 2em 0 0.5em 0;
  text-align: center;
}

.socials {
  margin: 0 0 1em 0;
}

.socials a {
  margin: 1em;
}

footer ul li {
  padding-right: 2em;
  color: white;
  list-style: none;
}

footer a {
  color: white;
  text-decoration: underline;
}

footer {
  font-family: "Libre Franklin", sans-serif;
}
